@import "./variables.scss";
.card__container {
  background-color: #ffffff;
  border-radius: 0.3rem;
  box-shadow: $boxShadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  position: relative;
  cursor: pointer;
  margin-bottom: 1.6rem;
  @media screen and (max-width: 540px) {
    margin-bottom: 3.5rem;
  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
  }
  .card__left {
    display: flex;
    gap: 1rem;
    @media screen and (max-width: 800px) {
      border-bottom: 1px solid $DarkGrayishCyan;
      width: 100%;
    }
    @media screen and (max-width: 540px) {
      border-bottom: 1px solid $DarkGrayishCyan;
      flex-direction: column;
      .card__avatar {
        margin-bottom: 0.8rem;
        img {
          position: absolute;
          top: -2rem;
          width: 4rem;
          bottom: 1rem;
        }
      }
    }
    .card__details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .tags {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-weight: 700;
        .company {
          font-size: 12px;
          color: $DesaturatedDarkCyan;
        }
        .new {
          font-size: 12px;
          text-transform: uppercase;
          color: white;
          background-color: $DesaturatedDarkCyan;
          padding: 0.3rem 0.4rem 0.15rem 0.4rem;
          font-size: 10px;
          border-radius: 0.7rem;
          text-align: center;
          display: grid;
          place-content: center;
        }
        .featured {
          font-size: 12px;
          text-transform: uppercase;
          color: white;
          background-color: $VeryDarkGrayishCyan;
          padding: 0.3rem 0.4rem 0.15rem 0.4rem;
          font-size: 10px;
          border-radius: 0.7rem;
          text-align: center;
          display: grid;
          place-content: center;
        }
      }
      .position {
        font-weight: 700;
        color: $VeryDarkGrayishCyan;
        text-transform: capitalize;
        font-size: 1rem;
        &:hover {
          color: $DesaturatedDarkCyan;
        }
      }
      .day {
        display: flex;
        gap: 0.9rem;
        align-items: center;
        color: $DarkGrayishCyan;
        font-size: 12px;
        @media screen and (max-width: 800px) {
          margin-bottom: 1.3rem;
        }
        p {
          margin-top: 0.3rem;
        }
        i {
          font-size: 3px;
        }
        .contract {
          text-transform: capitalize;
        }
      }
    }
  }
  .card__right {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    .card__tags {
      background-color: $FilterTablets;
      border-radius: 0.2rem;
      font-size: 11px;
      font-weight: 700;
      padding: 0.35rem 0.4rem;
      color: $DesaturatedDarkCyan;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: $DesaturatedDarkCyan;
        color: #ffffff;
      }
    }
  }
}
