@import "./variables.scss";

.filter {
  width: 70%;
  background-color: #ffffff;
  box-shadow: $boxShadow;
  border-radius: 0.3rem;
  padding: 0.8rem 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $DesaturatedDarkCyan;
  margin-top: 2rem;
  @media screen and (max-width: 540px) {
    width: 80%;
  }

  .filter__container {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    .filter__names {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $FilterTablets;
      border-radius: 0.2rem;
      gap: 0.2rem;
      cursor: pointer;
      p {
        font-size: 11px;
        font-weight: 700;
        padding: 0.35rem 0.2rem 0.35rem 0.3rem;
      }
      .close {
        width: 1.45rem;
        display: grid;
        place-content: center;
        height: 1.6rem;
        background-color: $DesaturatedDarkCyan;
        border-top-right-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;

        &:hover {
          background-color: $VeryDarkGrayishCyan;
        }
        img {
          width: 0.7rem;
        }
      }
    }
  }
  .clear {
    text-decoration: underline;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
  }
}
