// Primary
$DesaturatedDarkCyan: hsl(180, 29%, 50%);
// Neutral
$BackgroundColor: hsl(180, 52%, 96%);
$FilterTablets: hsl(180, 31%, 95%);
$DarkGrayishCyan: hsl(180, 8%, 52%);
$VeryDarkGrayishCyan: hsl(180, 14%, 20%);
//box shadow
$boxShadow: 1px 12px 22px -7px #8c898978;
